<ion-view scroll="true">
  <ion-content scroll="true">

      <div class="row cabeza-de-maceta">

          <div class="col col-33 text-center invest">
            Proyectos <br>
            {{home.projects.items.length}}
          </div>

          <div class="col col-33 text-center centrado">
            <img src="img/no-image.png" >
          </div>

          <div class="col col-33 text-center display-name">
            {{home.user_data.nombre}}
          </div>

      </div>
      <div class="cuerpo-de-maceta">
          <!-- Invest Buttom (no sé dónde sale) -->
          <!--<button type="button" class="button button-full button-energized" ng-if="home.projects.items.length == 0" ng-click="home.common()">
            INVIERTA DESDE $10.000
          </button>-->
          <div class="row boton-a-mostrar" ng-if="home.projects.items.length == 0" ng-click="home.common()">
            <div class="col text-center">
              <button class="button button-energized button-full">INVIERTA DESDE $10.000</button>
            </div>
          </div>
          <!-- Projects in Col 33 -->
          <div ng-if="home.projects.items.length != 0">
            <div class="ura" ng-repeat="ura in home.projects.items">
              <div ng-click="home.averga(ura.proyecto_id)">
                <div class="project-box-title">
                  <span>{{ura.proyecto_descripcion}}</span>
                </div>
                <!--<a>-->
                <div class="project-box-content">
                  <img ng-src="{{home.imagen}}">
                </div>
                <!--</a>-->
              </div>
            </div>
          </div>

      </div>

</ion-content>
<ion-footer>
  <div class="tabs tabs-icon-only">
    <a class="tab-item" href="#/home">
      <i class="icon ion-home"></i>
    </a>
    <a class="tab-item" href="#/app/search">
      <i class="icon ion-ios-search-strong"></i>
    </a>
    <a class="tab-item" href="#/app/certificados">
      <i class="icon ion-filing"></i>
    </a>
    <a class="tab-item" href="#/app/buy">
      <i class="icon ion-social-usd"></i>
    </a>
  </div>
</ion-footer>
</ion-view>
