<ion-view>
  <div class="bar bar-header bar-dark">
    <a class="button button-icon icon ion-arrow-left-c" href="#/home"></a>
    <h1 class="title">Notificaciones</h1>
  </div>
  <ion-content class="has-header">
    <div class="list centrar">
      <a class="item item-thumbnail-left" ng-repeat="m in notify.mensajes.items">
        <img src="img/adam.jpg">
        <h2 class="title">{{m.proyecto}}</h2>
        <p styel="text-align: justify">{{m.texto}}</p>
      </a>

    </div>
  </ion-content>
</ion-view>
