<ion-view>
  <ion-header-bar class="bar-energized">
    <a class="button button-clear button-icon icon ion-chevron-left"></a>
    <h1 class="title">Editar Perfil</h1>
    <div class="buttons">
      <a class="button button-clear button-icon icon ion-checkmark-round"></a>
      <a class="button button-clear button-icon icon ion-close-round"></a>
    </div>
  </ion-header-bar>
  <ion-content has-header="true">
    <div class="hero has-mask" style="background: rgb(246, 173, 57);">
      <div class="content">
        <div class="avatar" style="background-image: url('http://ionicframework.com/img/docs/siamese-dream.jpg');"></div>
          <h4><a class="light">Cambiar foto de perfil</a></h4>
      </div>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <div class="item item-divider" style="background: #444; color: #FFF;">
        Información Privada
      </div>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
    </div>
  </ion-content>
</ion-view>
